* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

aside {
  padding: 0.8rem;
  grid-area: sidebar;
  display: grid;
  gap: 1.6rem;
}

.navigation,
.settings {
  list-style-type: none;
}

header {
  padding: 0.8rem;
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}

main {
  grid-area: main;
}