:root {
  --main-background: #f8f5f2;
  --header-background: #fffffe;
  --sidebar-background: #3da9fc;
  --sidebar-color: #fffffe;
  --headline-color: #094067;
  --paragraph-color: #5f6c7b;
  --button-background: #3da9fc;
  --button-color: #fffffe;
  --card-stripe: #ef4565;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: Roboto, system-ui, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

aside {
  background-color: var(--sidebar-background);
  color: var(--sidebar-color);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  grid-area: sidebar;
  display: grid;
  align-content: start;
  gap: 3rem;
}

aside > h1 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

aside > h1 > .icon {
  height: 3rem;
  width: 3rem;
}

aside .icon {
  height: 1.5rem;
  width: 1.5rem;
  filter: invert(100%) sepia(0%) saturate(3718%) hue-rotate(97deg)
    brightness(111%) contrast(103%);
}

.navigation,
.settings {
  list-style-type: none;
  display: grid;
  gap: 1rem;
}

.navigation li,
.settings li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header {
  background-color: var(--header-background);
  box-shadow: 0 3px 5px #ccc;
  padding-bottom: 0.8rem;
  padding-left: 3rem;
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.search > input {
  background-color: #eee;
  border: 0;
  border-radius: 15px;
  height: 1.5rem;
  width: clamp(250px, 75%, 500px);
}

.user-info {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-info .icon {
  height: 1.2rem;
  width: 1.2rem;
}

.introduction {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.introduction .avatar {
  height: 4rem;
  width: 4rem;
}

.introduction  p {
  font-weight: 500;
}

.introduction h2 {
  padding-top: 0.5rem;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.buttons > button {
  background-color: var(--button-background);
  color: var(--button-color);
  font-weight: bold;
  border: 0;
  border-radius: 15px;
  padding: 0.5rem 2rem;
}

main {
  background-color: var(--main-background);
  padding: 2rem 1.5rem;
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

main > div > h2 {
  padding-bottom: 1rem;
}

.projects {
  grid-column: 1 / 2;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.card {
  background-color: var(--header-background);
  border: 1px solid #ccc;
  border-radius: 5px;
  border-left: 5px solid var(--card-stripe);
  box-shadow: 0 3px 5px #ccc;
  padding: 2rem;
  height: 14.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.card-actions > .icon {
  height: 1.5rem;
  width: 1.5rem;
}

.projects + div {
  display: grid;
  gap: 2rem;
}

.projects + div h2 {
  margin-bottom: 1rem;
}

.announcements {
  grid-column: 2 / 3;
}

.announcements > div,
.trending > div {
  background-color: var(--header-background);
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 3px 5px #ccc;
}

.announcement {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.announcements > div .announcement:last-child {
  border: 0;
}

.trending {
  grid-column: 2 / 3;
}

.trending > div {
  padding: 1rem;
}

.trending-project {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.trending-project h3 {
  padding-bottom: 0.5rem;
}

.trending-project:last-child .avatar {
  background-color: pink;
}

.avatar {
  vertical-align: middle;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}
